<div class="categories-container">
  <div class="container">
    <div class="row">
      <br>

      <div class="col-xs-12">
        <h1>Choose your Neighbourhood</h1>
      </div>


      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Friedrichshain") do %>
        <div class="category category-Friedrichshain">
          <p>Friedrichshain</p>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Kreuzberg") do %>
        <div class="category category-Kreuzberg">
          <p>Kreuzberg</p>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Mitte") do %>
        <div class="category category-Mitte">
          <p>Mitte</p>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Neukölln") do %>
        <div class="category category-Neukölln">
          <p>Neukölln</p>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Steglitz") do %>
        <div class="category category-Steglitz">
          <p>Steglitz</p>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Schöneberg") do %>
        <div class="category category-Schöneberg">
          <p>Schöneberg</p>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Spandau") do %>
        <div class="category category-Spandau">
          <p>Spandau</p>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Prenzlauer Berg") do %>
        <div class="category category-PrenzlauerBerg">
          <p>Prenzlauer Berg</p>
        </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= link_to games_path(category: "Pankow") do %>
        <div class="category category-Pankow">
          <p>Pankow</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
