<h1>All games will be shown here</h1>
<h2>Style to be applied soon!!</h2>
<p><% @games.each do |game| %></p>
  <p><%= link_to game.name, game_path(game) %></p>
  <p><%=game.description%></p>
  <p><%=game.address%></p>
  <p><%= game.price %></p>
<% end  %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
