<div class="container-fluid">
  <% @games.each do |game| %>
  <%= link_to game_path(game) do %>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper"><%= cl_image_tag game.photo, height: 200, width: 200 %>
          </div>
          <div class="card-body">
            <h3 class="card-title"><%= game.name %></h3>
            <p class="card-text"><%= game.description.truncate(200) %></p>
            <p class="card-price"><%= game.price %> EUR per day</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>




