<div class="show_page_wrapper">
 <divc class="wrapper_game">
  <div class="wrapper_game_photo"><%=cl_image_tag @game.photo, height: 300, width: 400, crop: :fill %></div>
  <div class="wrapper_game_name"><h1><%= @game.name %></h1></div>
  <div class="wrapper_game_description"><h2><%=@game.description%></h2></div>
  <div class="wrapper_game_price"><p><%=@game.price%> EUR / day</p></div>
  <div class="wrapper_game_options"><%= link_to edit_game_path(@game) do %>
    <%= icon("fal fa-edit") %><span>Edit</span>
    <% end %>
    <%= link_to game_path(@game), method: :delete do %>
    <%= icon("fal fa-trash") %><span>Delete</span>
    <% end %>
    <%= link_to games_path do  %>
    <%= icon("fal fa-backward") %><span>Back to all games</span>
    <% end %>
  </div>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>
<!--   </div>
 -</div>



<div class="wrapper_game">
<div class="show_page_wrapper">
  <div class="wrapper_game_photo"><%=cl_image_tag @game.photo, height: 300, width: 400, crop: :fill %></div>


  <div class="wrapper_game_name">
    <h1><%= @game.name %>  </h1>
  </div>
  <div class="wrapper_game_description">
   <p><%= @game.description %></p>
 </div>
</div>
<div class="wrapper_game_price">
    <p><%= @game.price %> EUR per day </p>
  </div>
</div>

<div class="wrapper_game_map"
id="map"
style="width: 100%;
height: 600px;"
data-markers="<%= @markers.to_json %>"
></div>

></div>


-->
