<h1><%= @game.name %></h1>
<h2><%=@game.description%></h2>
<p><%=@game.price%></p>

<%= link_to edit_game_path(@game) do %>
<%= icon("fal fa-edit") %><span>Edit</span>
<% end %>
<%= link_to game_path(@game), method: :delete do %>
<%= icon("fal fa-trash") %><span>Delete</span>
<% end %>
<%= link_to games_path do  %>
<%= icon("fal fa-backward") %><span>Back to all games</span>
<% end %>
